<div class="row">
    <div class="col-sm-6">
        <h2>createReset()
            <small>request a password reset</small>
        </h2>
        <p>POST /auth/create_reset</p>

      {{#bs-form action="submit"}}
        {{#bs-form-group}}
            <label class="control-label">Email address</label>
          {{bs-input type="text" value=emailAddress}}
        {{/bs-form-group}}
        {{#bs-form-group}}
            <label class="control-label">Nick</label>
          {{bs-input type="text" value=nick}}
        {{/bs-form-group}}

        {{#bs-button type="primary" buttonType="submit"}}create reset{{/bs-button}}
      {{/bs-form}}
    </div>
    <div class="col-sm-6">
      {{response-view response=response xhr=xhr}}
    </div>
</div>
