<div class="row">
    <div class="col-sm-6">
        <h2>loadReset()
            <small>get user by reset token</small>
        </h2>
        <p>POST /auth/load_reset</p>

      {{#bs-form action="submit"}}
        {{#bs-form-group}}
            <label class="control-label">Reset token</label>
          {{bs-input type="text" value=token}}
        {{/bs-form-group}}

        {{#bs-button type="primary" buttonType="submit"}}load reset{{/bs-button}}
        {{#bs-button type="default" buttonType="reset"}}reset{{/bs-button}}
      {{/bs-form}}
    </div>
    <div class="col-sm-6">
      {{response-view response=response xhr=xhr}}
    </div>
</div>
