<div class="row">
    <div class="col-sm-6">
        <h2>changePassword()
            <small>change user password</small>
        </h2>
        <p>POST /auth/change_password</p>

      {{#bs-form action="submit"}}
        {{#bs-form-group}}
            <label class="control-label">New password (password)</label>
          {{bs-input type="text" value=password}}
        {{/bs-form-group}}
        {{#bs-form-group}}
            <label class="control-label">Repeat new password (repeat)</label>
          {{bs-input type="text" value=repeat}}
        {{/bs-form-group}}
        {{custom-json customData=customData}}

        {{#bs-button type="primary" buttonType="submit"}}change password{{/bs-button}}
        {{#bs-button type="default" buttonType="reset"}}reset{{/bs-button}}
      {{/bs-form}}
    </div>
    <div class="col-sm-6">
      {{response-view response=response xhr=xhr}}
    </div>
</div>
