<div class="container">
    <h1><a href="https://github.com/indr/ember-seneca-auth">ember-seneca-auth</a> sample app</h1>

  {{outlet}}

    <footer class="footer">
        <p>&copy; 2016 Reto Inderbitzin | <a href="https://github.com/indr/ember-seneca-auth">https://github.com/indr/ember-seneca-auth</a> | License MIT</p>
    </footer>
</div>
